.Square {
  font-size: 27vh;
  max-width: 30vh;
  max-height: 30vh;
  width: 30vw;
  height: 30vw;
  border: 1px solid #000;
  /* border-radius: 1%; */
  text-align: center;
  user-select: none;
  background-color: rgb(255, 194, 102)
}